// These colors are specific to the theme. Do not use in a package!

// gray

@very-very-light-gray: #E2E2E2;
@very-light-gray: #D5D5D5;
@light-gray: #7C7C7C;
@gray: #3e444b;
@dark-gray: #2f3137;
@very-dark-gray: #201D1E; // bg rgb(39, 40, 34);

// blue

@cyan: #3bc9db;
@blue: #5296D0;
@soft-blue: #68A5BF;

// purple

@purple: #be6bd7;

//  green

@green: #7bb571;

// Red and Orange
@red: #ec6158;
@dark-red: #3b0000;
@orange: #ec8551;
@light-orange: #fabf4d;
