// These colors are specific to the theme. Do not use in a package!

// gray

@very-very-light-gray: #E2E2E2;
@very-light-gray: #D5D5D5;
@light-gray: #716e6e;
@gray: #2e3946;
@dark-gray: #262a34;
@very-dark-gray: #131212; // bg rgb(39, 40, 34);

// blue

@cyan: #3bc9db;
@blue: #5296D0;
@soft-blue: #68A5BF;

// purple

@purple: #be6bd7;

//  green

@green: #50db38;

// Red and Orange
@red: #ec6158;
@dark-red: #590303;
@orange: #ff943c;
@light-orange: #ffe454;
